@import "_common"
@import "_header"
@import "_sidebar"

$width = 900px
$space = 50px

body
    background-color darken($light, 10%)

#logo
  span
    font-size 1.2em
  img
    display none

.sidebar
  display none

#mobile-bar
  &.top
    background-color transparent
    box-shadow none
    .logo
      display none

#hero
    padding $space 40px
    background-color #fff
    .inner
      max-width $width
      margin 0 auto
    .left, .right
      display inline-block
      vertical-align top
    .left
      width 39%
    .right
      width 61%
    .hero-logo
      width 215px
      height 215px
      float right
      margin-right 60px
    h1
        font-weight 300
        margin 0
        font-size 3.2em
    h2
        font-family $logo-font
        font-weight 500
        font-size 2.4em
        margin 0 0 10px
        display none
    .button
        margin 1em 0
        font-size 1.05em
        font-weight 600
        letter-spacing .1em
        &:first-child
          margin-right 1em
    .social-buttons
      list-style-type none
      padding 0
      li
        display inline-block
        vertical-align middle
        margin-right 15px

#highlights
    background-color #fff
    padding-bottom 70px
    .inner
        max-width $width
        margin 0 auto
        text-align center
    .point
        width 33%
        display inline-block
        vertical-align top
        box-sizing border-box
        padding 0 2em
        h2
            color $stellarPrimaryColor
            font-size 1.5em
            font-weight 400
            margin 0
            padding .5em 0
        p
            color $light

#example
    background-color #f6f6f6
    text-align center
    padding 35px 40px 45px
    .inner
      max-width 1200px
      margin 0 auto 3em
    h2
        color #999
        margin-bottom 1.5em
    code, pre
        background-color transparent
    figure.highlight
        margin 0
        box-shadow none
        background-color transparent
    .sign
        display inline-block
        height 10em
        line-height 9em
        padding 0 .5em
        font-weight 600
        color $light
    .block
        text-align left
        display inline-block
        width 28%
        height 10em
        vertical-align top
        background-color #f9f9f9
        border-radius 2px
        box-shadow 0 1px 2px rgba(0,0,0,.125)
        margin-right 5px
    .block:last-child
        margin-right 0
    #demo
        padding 0 20px
        word-wrap break-word
        input
            font-size .75em
            border 1px solid #ccc
            padding 4px 8px
            border-radius 2px
            font-family $body-font
            &:focus
                outline none
                border-color $stellarPrimaryColor

#footer
    padding $space 0
    color #fff
    text-align center
    a
        font-weight 700
        color #fff

@media screen and (max-width: $width)
    body
        -webkit-text-size-adjust none
        font-size 14px
    .sidebar
        display block
    #header
        display none
    #mobile-bar
        display block
    #hero
        padding $space 40px 30px
        .hero-logo
            float none
            margin 30px 0 15px
            width 140px
            height 140px
        .left, .right
            text-align center
            width 100%
        h1
            font-size 2em
        h2
            display block
        .button
            font-size .9em
    #highlights
        .point
            display block
            margin 0 auto
            width 300px
            padding 0 40px 30px
            &:before
                content "—"
                color $stellarPrimaryColor
    #example
        .block
            display block
            width auto
            height auto
            margin 0
            margin-bottom 5px
        .block:last-child
            margin-bottom 0px
