<li class="nav-dropdown-container ecosystem">
  <a class="nav-link">Ecosystem</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://github.com/StellarFw/Identify" class="nav-link" target="_blank">Identify</a></li>
  </ul>
</li>
