<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="/images/logo.png" />
    </div><div class="right">
      <h2 class="stellar">Stellar</h2>
      <h1>A Modular Action-Based<br>Web Framework!</h1>

      <p>
        <a class="button" href="/guide/index.html">GET STARTED</a>
        <a class="button white" href="https://github.com/StellarFw/stellar" target="_blank">GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>You know</h2>
      <p>
        You already know JavaScript? Read the guide and start building amazing APIs!
      </p>
    </div>

    <div class="point">
      <h2>Modular</h2>
      <p>
        Stellar was drawn to be extremely modular and extensive. From small to big apps.
      </p>
    </div>

    <div class="point">
      <h2>Rapid prototyping</h2>
      <p>
        Do not waste time imagining. With Stellar you do not dream, you realize.
      </p>
    </div>
  </div>
</div>

<div id="example">
  <div class="inner">
    <h2>Fast Example</h2>

    <div class="block">
      <figure class="highlight plain"><table><tbody><tr><td class="code"><pre><span class="line"># create a new project</span><br><span class="line">$ stellar init --name=<var>projectname</var></span><br></pre></td></tr></tbody></table></figure>
    </div>

    <div class="block">
      <figure class="highlight plain"><table><tbody><tr><td class="code"><pre><span class="line"># create a new model</span><br><span class="line">$ stellar makeModel post --module=private --crud</span><br></pre></td></tr></tbody></table></figure>
    </div>

    <div class="block">
      <figure class="highlight plain"><table><tbody><tr><td class="code"><pre><span class="line"># start a cluster</span><br><span class="line">$ stellar startCluster</span><br></pre></td></tr></tbody></table></figure>
    </div>
  </div>
</div>

<div id="footer">
  Released under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a><br>
  Copyright (c) 2015-<%- new Date().getFullYear() %> <a href="https://twitter.com/gil0mendes" target="_blank">Gil Mendes</a>
</div>

<script type="text/javascript">
  var topScrolled = false
  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
  })
</script>
